.btn{
    color: #000000;
    background-color: #F5B963;
    border-radius: 4px;
    cursor: pointer;
}

.find_btn{
    min-width: 236px;
    min-height: 54px;
    margin-top: 1.5rem;
    border: none;
    transition: all .2s ease-in;
}

.find_btn:hover{
    background-color: transparent;
    border: 2px solid #F5B963;
    transform: scale(1.1);
    font-weight: 500;
    color: #fff;
}

.about_btn{
    width: 60%;
    text-align: left;
    padding: 1.625rem 0 1.625rem 2rem;
    font-weight: 600;
    font-size: 0.875rem;
    border: 2px solid #BEC2D9;
    position: relative;
}

@media (max-width: 800px){
    .about_btn{
        width: 100%;
    }
}

.about_btn::after{
    content: '';
    position: absolute;
    left: 90%;
    top: 30%;
    width: 25px;
    height: 25px;
    background: url('../img/arrow.png');
    background-repeat: no-repeat;
}

.escape_btn{
    min-width: 200px;
    height: 40px;
    background-color: #D4EEEC;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 2.5rem;
}

.footer_btn{
    min-height: 54px;
    min-width: 195px;
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
}