.footer_container{
    width: 100%;
    background-color: #0C1011;
    padding-top: 5rem;
}

.footer_wrapper{
    max-width: 1070px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer_wrapper:nth-child(2){
    align-items: center;
    border-bottom: 1px solid #346769;
    padding-top: 5.3rem;
    padding-bottom: 3rem;
}

.footer_wrapper:last-child{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    align-items: center;

}

.list_wrapper{
    display: flex;
    flex-direction: column;
}

.list_item__gray{
    color: #C1C7CD;
    font-size: 0.875rem;
    text-decoration: none;
}

.green{
    color: #C5FBD8;
    font-weight: 500;
    display: block;
    margin-bottom: 1.5rem;
}

.footer_sign__content{
    flex: 0 1 50%;
}

.footer_sign__title{
    font-weight: 600;
    color: #C5FBD8;
    margin-bottom: 1.5rem;
}

.footer_sign__text{
    font-size: 0.875rem;
    color: rgba(234, 234, 241, 0.8);
    margin-bottom: 1rem;
}

input{
    min-width: 304px;
    height: 54px;
    border-radius: 4px;
    color: #BEC4D9;
    font-size: 0.875rem;
    padding-left: 20px;
    margin-right: 12px;
}

.footer_logo{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer_logo>span{
    color: #C5FBD8;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer_copywright{
    font-size: 0.875rem;
    color: #909EA2;
}

.footer_media>.media:not(:last-child){
    margin-right: 1rem;
}